#<Directory "/var/www/tryjp.com/public_html/camerakun/api">
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule (.*) /var/www/tryjp.com/public_html/honyakunServer/api/router.php/$1 [L]
	 #RewriteRule (.*) /var/www/tryjp.com/public_html/honyakunServer/api/router.html/$1 [L]
#</Directory>
