#<Directory "/var/www/tryjp.com/public_html/camerakun/api">
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule (.*) {path}/api/router.php/$1 [L]
	 #RewriteRule (.*) {path}/api/router.html/$1 [L]
#</Directory>
